{% extends 'base.html' %}

{% block content %}

<section id="configs">
	<div class="container">
		<label for="">save on change</label>
		<input type="checkbox" name="update_on_change" checked/>
	</div>
</section>

<section id="wallpaper">
	<div class="container">
		<div class="wallpaper__gallery"> 
		</div>
	</div>
</section>

<section id="theme">
	<div class="container">
		<div class="theme__options">
			<label for="">dark</label>
			<input type="radio" name="theme-option" value="dark"/>

			<label for="">light</label>
			<input type="radio" name="theme-option" value="light"/>
		</div>
		<div class="theme__select">
			<select name="theme_name">
			</select>
		</div>
	</div>
</section>


<section id="color">
	<div class="container">
		<div class="color__inner">
			<input class="color__input" type="color" name="color0" />
			<input class="color__input" type="color" name="color1" />
			<input class="color__input" type="color" name="color2" />
			<input class="color__input" type="color" name="color3" />
			<input class="color__input" type="color" name="color4" />
			<input class="color__input" type="color" name="color5" />
			<input class="color__input" type="color" name="color6" />
			<input class="color__input" type="color" name="color7" />
			<input class="color__input" type="color" name="color8" />
			<input class="color__input" type="color" name="color9" />
			<input class="color__input" type="color" name="color10" />
			<input class="color__input" type="color" name="color11" />
			<input class="color__input" type="color" name="color12" />
			<input class="color__input" type="color" name="color13" />
			<input class="color__input" type="color" name="color14" />
			<input class="color__input" type="color" name="color15" />
		</div>
	</div>
</section>

<section id="action">
	<div class="container">
		<div class="action__inner">
			<button id="changeAll">Change</button>
			<button id="reset">Reset</button>
		</div>
	</div>
</section>

{% endblock%}

