.container {
	display:flex;
	justify-content:center;
	width: 768px;
	margin: 20px auto;
}

section#wallpaper .wallpaper__gallery{
	display:grid;
	grid-template-columns: repeat(3,auto);
	width:fit-content;
	gap:10px;
}

section#wallpaper .wallpaper__picture{
	width:75px;
	height:75px;
	border:2px solid black;
	display:block;
	background-size:cover;
}

section#wallpaper .wallpaper__picture.active{
	border:2px solid red;
}

section#color .color__inner{
	display:grid;
	grid-template-columns: repeat(4,auto);
	gap: 10px;
	width:fit-content;
}
