.container {
	display:flex;
	justify-content:center;
	max-width: 768px;
	margin: 20px auto;
}

/* THEME */

/* END THEME */

/* WALLPAPER */

.wallpaper__inner{
	display:grid;
	grid-template-columns: 1fr;
	gap:10px;
}

.wallpaper__gallery{
	display:grid;
	grid-template-columns: repeat(3,auto);
	width:fit-content;
	gap:10px;
}

.wallpaper__picture{
	width:75px;
	height:75px;
	border:2px solid black;
	display:block;
	background-size:cover;
}

.wallpaper__picture.active{
	border:2px solid red;
}
/* END WALLPAPER */

/* COLOR */
.color__inner{
	display:grid;
	grid-template-columns: repeat(8,4rem);
	justify-content:center;
	gap: 5px;
	width:100%
}

.color__input {
    border: none;
	padding:0;
	width:4rem;
	height:4rem;
}
/* END COLOR */
